####################################
# Git
####################################

.git
.gitignore


####################################
# Environment files
####################################

.env
.env.*
!.env.example


####################################
# Symfony cache and logs
####################################

var/cache/
var/log/


####################################
# Dependencies
####################################

vendor/


####################################
# Frontend dependencies (si utilisé)
####################################

node_modules/


####################################
# Tests
####################################

phpunit.xml
.phpunit.result.cache


####################################
# IDE
####################################

.idea/
.vscode/


####################################
# OS files
####################################

.DS_Store
Thumbs.db