####################################
# Symfony
####################################

APP_ENV=prod
APP_DEBUG=0
APP_SECRET=


####################################
# FrankenPHP
####################################

SERVER_NAME=:80


####################################
# Database
####################################

DATABASE_URL="postgresql://username:password@postgres:5432/database?serverVersion=16&charset=utf8"


####################################
# CORS
####################################

CORS_ALLOW_ORIGIN="https://frontend.example.com"


####################################
# JWT Authentication (optional)
####################################

JWT_PASSPHRASE=